PYTEST_CACHE_DIR=/cache

GROUPME_TOKEN=<secret>
ANTHROPIC_API_KEY=<secret>
BALLDONTLIE_API_KEY=<secret>

GROUPME_WEBHOOK_TOKEN=<secret>
TESTING_GROUP_ID=<secret>

POSTGRES_PASSWORD=meeshbot
DATABASE_URL=postgresql://meeshbot:meeshbot@postgres:5432/meeshbot
AI_DATABASE_URL=postgresql://meeshbot_ai:<secret>@postgres:5432/meeshbot

TIMEZONE=America/New_York
